{{#each listings as |listing|}}
{{log listing}}
<section class= listings>
<h4>Listing {{listing.id}} </h4>
<p>
  <a href="" class='event-box show-listing'{{id}}>
    Event:{{listing.listing_name}}, {{listing.date}}
  </a>
</p>
<!-- <p>Description:{{listing.description}}</p>
<p>Date:{{listing.date}}</p>
<p>Start_time:{{listing.start_time}}</p>
<p>End_time:{{listing.end_time}}</p>
<p>Location:{{listing.location}}</p> -->
</section>
{{/each}}
