{{#each listings as |listing|}}
{{log listing}}
<section class= 'listings'>
<h4>Listing {{listing.id}} </h4>
<p>
  <a href="#listing-show" class='event-box show-listing'{{id}}>
    Event:{{listing.listing_name}}, {{listing.date}}
  </a>
</p>
</section>
{{/each}}
